login_data.yaml
*.pyc
__pycache__/
Kinematic
DataFromDb
test.py
chart.png

slprj
lab12_a.slxc
image_graphic

MatlabTest/matlab_m_files/setup_param.m
MatlabTest/matlab_m_files/responseOptimization_lab12_a.m
MatlabTest/matlab_m_files/optimize_current.m
MatlabTest/matlab_models/for_report.slx
MatlabTest/matlab_models/lab12_a.mdl.original
MatlabTest/matlab_models/untitled_2_2.mdl.original
MatlabTest/matlab_models/lab12_a.slxc
MatlabTest/matlab_models/untitled_2_2.mdl
MatlabTest/matlab_m_files/lab12_a.slxc